<h4 class="text-secondary">Users of budget {{budgetInfo.name}}</h4><br>
<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush" *ngFor="let info of budgetInfo.budget_users">
        <li class="list-group-item">{{info.name}}</li>
    </ul>

</div>
<br>
<div class="input-group mb-3">
    <button class="btn btn-outline-primary" (click)="open(content)">Beneficiary</button>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Budget update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="beneficiaryForm">
            <div class="form-group">
                <label for="userId">Beneficiary</label>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Enter user id" formControlName="userId">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close(beneficiaryForm.value.userId)"
                    [disabled]="!beneficiaryForm.valid">Save</button>
            </div>
        </form>
    </div>
</ng-template>


<div class="card card-body">
    <h4 class="text-secondary"> Transactions </h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
                <th scope="col">Amount in KM</th>
                <th scope="col">Person</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ">
                <td>{{ transaction.datetime | date : "dd.MM.y HH:mm"  }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.person }}</td>
            </tr>
        </tbody>
    </table>
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="transactions.length"></ngb-pagination>

</div>
<br>
<div class="input-group mb-3">
    <button class="btn btn-outline-info" (click)="open(transaction)">Transaction</button>
</div>

<ng-template #transaction let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Make transaction</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="transactionForm">
            <div class="form-group">
                <label for="amount">Amount</label>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Amount in KM" formControlName="amount">
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Description" formControlName="description">
                </div>
            </div>
            <!--<div class="form-group">
                <label for="type">Type</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type of transaction" formControlName="type">
                </div>
            </div>
            <div class="form-group">
                <label for="datetime">Date</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" formControlName="datetime"
                        ngbDatepicker #dt="ngbDatepicker" (click)="dt.toggle()">
                </div>
            </div>-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close(transactionForm.value)"
                    [disabled]="!transactionForm.valid">Save</button>
            </div>
        </form>
    </div>
</ng-template>


<div>
    <canvas id="canvas">{{ chart }}</canvas>
</div>